<div class="five columns get_started">
  <h2 id="baseline">Blablabla</h2>
  <h2 id="baseline">Bliblibli Bli</h2>
  <h2 id="baseline">Boom.</h2>
  <div id="" class="six columns">
    <div class="row">
      <div class="twelve columns">
        <%= link_to "Create New Mix", newsession_path, :class => "button get_started", :id => "new_mix_button" %>
      </div>
    </div>
  </div>
  <div class="three columns">
  </div>
</div>
