<div class="six columns get_started">
  <h2 class="baseline">Make a mixtape.<br> Share it with anyone.</h2>
  <div class="ten centered columns">
    <%= link_to "Create a New Tape", newsession_path, :class => 'button large radius get_started'%>
  </div>
</div>

