<div class="five columns get_started">
  <h1>MixTapes</h1>
  <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</h4>
  <div class="three columns">
  </div>
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <%= link_to "Create New Mix", newsession_path, :class => "button get_started" %>
      </div>
    </div>
  </div>
  <div class="three columns">
  </div>
</div>
