# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
*.DS_Store
/tmp

.DS_store
/config/locales/facebook_config.rb
facebook_config.rb

