<body>
  <p><%= "Hi #{@recipient_name}," %></p>
  <p><%= "#{@author_name} shared an Instatape with you!" %></p>
  <p><%= link_to "Check it out here", mixtape_path(@mixtape) %></p><br /><br />
</body>
