<div class="six columns play">
  <%= image_tag("clear.png") %>
  <div id="mixtape">
    <%= form_for @mixtape do |f| %>
      <table id="mixtape_track_list">
        <tbody>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

