<div class="six columns play">
  <%= image_tag("the_muxtape.png") %>
  <div id="mixtape">
    <h2>Your mixtape</h2>
    <%= form_for @mixtape do |f| %>
    <table id="mixtape_track_list">
    </table>
    <%= button_to 'Create', mixtapes_path %>
    <% end %>
  </div>
</div>

