<div class="six columns play">
  <%= image_tag("clear.png") %>
  <div id="mixtape">
    <%= form_for @mixtape do |f| %>
      <table id="mixtape_track_list"><tbody></tbody></table>
      <div id="next_button" class="three columns centered">
        <%= button_to 'Next', mixtapes_path, :class => "button"%>
      </div>
    <% end %>
  </div>
</div>

