<h3 style="padding-bottom:20px; border-bottom:solid 3px #ddd"><%= "#{results.length} Results for '#{params[:query]}'" %></h3>

<table style="text-align:left;">

  <% results.each_with_index do |result, index| %>
    <tr>
      <th style="padding-right:20px"><%= result.artist %></th>
      <th style="padding-right:20px"><%= result.title %></th>
      <th><%= link_to "Add", songs_path(:title => result.title, :artist => result.artist, :tiny_id => result.tiny_id), :remote => true, :method => 'post' %></th>
    <tr>
<%end%>

</table>