/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require token-input
 *= require foundation_and_overrides
 *= require_tree .
 */

img#header_logo{
  width: 30%;
  min-width: 250px;
  margin-top: 15px;
}

li#header_logo {
  font-size: 50px;
  font-weight: 300;
}

input.start_a_new_mix {
  margin-top: 13px;
}

#tape_container {
  width: 430px;
  position: relative;
}

#mixtape_name_on_tape {
  width: 350px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100px;
  font-weight: bold;
  margin: 35px 0 0 35px;
  text-align:center;
  font-size: 20px;
  line-height: 40px;
  font-family: 'Rock Salt', cursive;
}

#mixtape_name_live{
  font-size: 20px;
  font-family: 'Rock Salt', cursive;
}

.yt_button {
    background: transparent;
    float: left;
    color: black;
    border: 0px;
    font-size: 12pt;
    position: relative;
    left: -54px;
    padding-left: 54px;
}

.token-input-dropdown {
  font-weight: 200;
  font-style: 'Lato', sans-serif;
}

.remove {
    visibility: hidden;
    float: left;
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: #969494;
}

#next_button {
    margin-top:100px;
}

.new_song {
  margin: 0;
}

#youtube_player {
  width: 40%;
  margin: 70px auto 0 auto;
}

#ytplayer {
  height: 250px;
  width: 350px;
}

#page_header_main {
  width: 100%;
  line-height: 40px;
  margin-bottom: 50px;
}

#page_header_title {
  font-size: 28px;
  font-weight: bold;
  margin-left: 12px;
}

#page_header_button {
  float: right;
  margin: 0;
}

.social_logo {
  height: 15px;
  margin-right: 11px;
}