/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require token-input
 *= require foundation_and_overrides
 *= require_tree .
 */

#tape_container {
  width: 400px;
  height: 500px;
  position: relative;
}

#mixtape_name_on_tape {
  width: 310px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100px;
  font-weight: bold;
  margin: 40px 0 0 40px;
  text-align:center;
  font-size: 22px;
  font-family:  "Comic Sans MS";
}

#mixtape_name_live{
  font-size: 22px;
  font-family:  "Comic Sans MS";
}

#search {
/*    height: 500px;
    min-width:00px;
    max-width:650px;
    float:left;
    padding-right: 50px;
    margin: 100px 100px 0 50px;
    border-right: solid;
*/}

#mixtape {
/*    width:400px;
    margin: 100px 0 0 0;
    float:left;*/
}

#results_id {
/*    line-height: 26px;*/
}

.yt_button {
    background: transparent;
    float: left;
    color: black;
    border: 0px;
    font-size: 12pt;
}

.remove{
    visibility: hidden;
    float: left;
}

#next_button {
	margin-top:100px;
}

#youtube_player {
  width: 40%;
  margin: 70px auto 0 auto;
}

#ytplayer{
  height: 250px;
  width: 350px;
}