// Place all the styles related to the Designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pick_a_name {
}

.countdown {
  margin-top: -34px;
  margin-left: 90%;
  position: absolute;
  color: #969696;
}

#design_picker {
/*	padding-left:20px;*/
position: relative;
}

#name_picker {
  margin-bottom: 30px;
}

#color_picker {
/*	margin-bottom: 50px;	*/
}

.section_title {
  margin-top: 0;
}

#skins {
  margin-left: 4%;
	margin-top: 8%;
}

img.thumbnail:nth-child(odd) {
  margin-right: 8%;
}

img.thumbnail {
  width: 150px;
  float:left;
}

img.thumbnail {
  margin-bottom: 8%;
}
