// Place all the styles related to the Designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pick_a_name {
/*	width: 370px;
  height: 50px;
  position: relative;*/
}

.countdown {
/*	width: 10%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
	text-align: right;
	margin-left: 330px;
	padding: 9px 7px 0 0;
	color: rgb(150,150,150);


*/
  margin-top: -34px;
margin-left: 89%;
position: absolute;
color: #969696;

}

#design_picker {
/*	padding-left:20px;*/
}

#name_picker {
/*	margin-bottom: 40px;*/
}

#color_picker {
/*	margin-bottom: 50px;	*/
}

.section_title {
/*	margin-bottom: 20px;*/
}

#skins {
  margin-left: 4%;
	margin-top: 4%;
}



img.thumbnail:nth-child(odd) {
margin-right: 5%;
}

img.thumbnail {
   width: 45%;
  float:left;
}

img.thumbnail {

  margin-bottom: 5%;
}
