// Place all the styles related to the Designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pick_a_name {
	width: 370px;
  height: 50px;
  position: relative;
}

.countdown {
	width: 10%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
	text-align: right;
	margin-left: 330px;
	padding: 9px 7px 0 0;
	color: rgb(150,150,150)
}

#design_picker {
	padding-left:20px;
}

#name_picker {
	margin-bottom: 40px;
}

#color_picker {
	margin-bottom: 50px;	
}

.section_title {
	margin-bottom: 20px;
}

#skins {
	width:400px;
	margin: 0 auto;
}

a.thumbnail {
  margin-right: 8%;
}

a.thumbnail:nth-child(even) {
  margin: 0;
}

img.thumbnail {
	float:left;
  width: 45%;
  padding: 20px;
  border: 1px;
}
