// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_results {
	height:auto;
}

#search_notice {
	margin-bottom:25px;
}

#search_notice p {
	margin:0px;
}
