// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #E6E6E6 url("http://sparrowmailapp.com/img/bg-noise.gif");
}

#header {
  margin-bottom: 60px;
  padding-bottom:90px;
  border-top: solid #39393C 8px;
  border-bottom: solid #39393C 1px;
  ul {
    list-style-type:none;
    display: inline;
  }
}

#header_buttons {
  margin: 0;
}

#header_logo {
  font-size: 50px;
  font-weight: bold;
  color: #39393C;
  float:left;
}

.start_a_new_mix {
  font-weight: normal;
  font-size: 14px;
  float:right;
}

.play {
  h1 {
    text-align: center
  }
  table {
    width: 100%;
  }
}

.get_started {
  h1 {
    text-align: center;
  }
  a.get_started {
    width: 100%;
    font-weight: bold;
    margin-top: 5%;
  }
}

.baseline {
  color:#39393C;
  padding-left: 45px;
  margin-top: 5%;
}

#footer {
  color:#aaa;
  border-top: solid #aaa 1px;
  padding-top: 15px;
  margin-top: 100px;
  margin-bottom: 70px;
}

#footer p {
  line-height: 12px;
  margin-bottom: 10px;
}

#footer a {
  text-decoration: none;
  color:rgb(120,120,120);
}

#footer a:hover{
  text-decoration: none;
  color:rgb(30,30,30);
}