<div class="row">
  <div class="twelve columns centered">
  	<div id="footer">
			<p>
				Built by 
				<a href="">Guillaume</a>,
				<a href="">Jake</a>,
				<a href="">Jeff</a> and
				<a href="">Kyle</a>
				during
				<a href="">DevBootcamp Fall '12</a>.
			</p>
			<p>
				Powered by <a href="http://the.echonest.com/">Echo Nest</a> and <a href="http://www.youtube.com/">YouTube</a>.
			</p>
		<div>
		<div id="youtube_player">
			<object id="ytplayer_div">
	  	</object>
  	<div>

	</div>

</div>