<div class="row">
  <div class="twelve columns centered">
  	<div id="footer">
			<p>
				Built by 
				<a href="">Guillaume</a>,
				<a href="">Jake</a>,
				<a href="">Jeff</a> and
				<a href="">Kyle</a>
				during
				<a href="">DevBootcamp Fall '12</a>.
			</p>
			<p>
				Mixtaping is killing <strike>music</strike> mp3.
			</p>
		<div>
	</div>
</div>