<nav id="header">
  <ul>
    <li id="header_logo">INSTATAP.ES</li>
    <% if controller_name == 'mixtapes' && controller.action_name == 'show' %>
      <li><%= button_to "Start A New Tape", endsession_path, :class => "button medium radius start_a_new_mix" %></li>
    <% end %> 
  </ul>
</nav>
