<nav id="header">
  <ul>
    <li id="header_logo"><a href="#">MixTapes | </a></li>
    <li id="sign_in"><a href="#">Sign In</a></li>
    <li><%= link_to "Start A New Mix", endsession_path %></li>
  </ul>
</nav>
