<div class="seven columns play" id="play_partial">
  <div id="tape_container">
    <%= image_tag("#{@mixtape.skin}.png") %>
    <div id="mixtape_name_on_tape"><div id="mixtape_name_live"><%= @mixtape.name %></div></div>
    <div id="tracklist_container">
      <table>
        <%= render :partial => "songs/song", :collection => @mixtape.songs, :as => :song %>
      </table>
    </div>
  </div>
</div>

