<div class="seven columns play">
  <%= image_tag("https://dl.dropbox.com/u/6371005/Mixtapes/Assets/default.png") %>
  <table>
    <!-- Make render each song -->
    <tr>
      <td>1</td>
      <td>Simon & Garfunkel</td>
      <td>Bridge Over Troubled Water</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Simon & Garfunkel</td>
      <td>Bridge Over Troubled Water</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Simon & Garfunkel</td>
      <td>Bridge Over Troubled Water</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Simon & Garfunkel</td>
      <td>Bridge Over Troubled Water</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Simon & Garfunkel</td>
      <td>Bridge Over Troubled Water</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Simon & Garfunkel</td>
      <td>Bridge Over Troubled Water</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Simon & Garfunkel</td>
      <td>Bridge Over Troubled Water</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Simon & Garfunkel</td>
      <td>Bridge Over Troubled Water</td>
    </tr>
  </table>
</div>

