<!DOCTYPE html>
<html>
  <head>
    <title>Mixtapes</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    

  <!-- for facebook login auth nav got to http://railscasts.com/episodes/360-facebook-authentication?view=asciicast and look at the /app/views/layouts/application.html.erb -->


  <%= yield %>

  </body>
</html>
